<!DOCTYPE html>
<html>
    
    <head> 
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <div class="adminMenu">
            <header>
                <img src="/assets/logo_admin.png" alt="logo foodfy">
            </header>
        </div>

        {% block content %}{% endblock %}

    </body>

</html>