{% extends "layout.njk" %}

    {%block head%}

    {% endblock %}

    {% block content %}
        <section class="receitas">
            
            <div class="receita">

                <div class="imgReceita" id="{{receita.title}}">
                    <img src="{{receita.image}}" alt="Imagem {{receita.title}}">
                </div>
    
                <div>
                    <p class="receitaDesc">{{receita.title}}</p>
                    <p class="chef">{{receita.author}}</p>
                </div>

                <div>
                    <p class="infoIngredientes">Ingredientes</p>

                    <ul class = "ingredientes">
                       
                        {% for ingredients in receita.ingredients%}
                            <li>
                                {{ingredients}}
                            </li>
                        {% endfor %}
                        
                    </ul>
                </div>

                <div>
                    <p class="infoIngredientes">Modo de preparo</p>
                    <div class="preparo">
                        {{receita.preparation}}
                    </div>   
                </div>

                <div>
                    <p class="infoIngredientes">Informações adicionais</p>
                    <div class="adicionais">
                        {{receita.information}}
                    </div>
                </div>

            </div>
        
        </section>

        {% endblock %}   
        
        <script src="receitas.js"></script>
    </body>

</html>