@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap";
 
:root {
    --color-button: #FBDFDB;
    --color-chef: #777777;
    --color-text-receita: #444444;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular', sans-serif;
    color: var(--color-text);
}

.menu{
    width: 940px;
    max-width: 800px;
    margin: 37px auto;
}

header{
    display: grid;
    grid-template-columns: 231px 122.4px 30px;
    margin-bottom: 36px;
    align-items: center;
}
header a{
    text-decoration: none;
    font-size: 16px;
}    

header a:hover{
    color:var(--color-button);
    transition: 200ms;
  
}

.receitas{
    width: 940px;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    cursor: pointer;
}

.imgReceita img{
    border-radius: 15px;
    margin-bottom: 20px;
    height: 140px;
    width: 300px;
}

.receitaDesc{
    font-size: 18px;
    font-weight: bold;
}    

.chef{
    font-size: 18px;
    color: var(--color-chef);
    margin-bottom: 50px;
}

.receitaDesc,
.chef{
    text-align: center;
    margin-bottom: 4px;
}

.infoIngredientes{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ingredientes{
    list-style-position: inside;
    margin-bottom: 39px;
}

.ingredientes,
.preparo,
.adicionais{
    width: 940px;
    max-width: 800px;
    color:var(--color-text-receita);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 47px;
}

.informacoesReceitas{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;   
    opacity: 0;
    visibility: hidden;
}
.info{
    background:#FFFFFF;
    width:660px;
    height: 413px;
    border-radius: 16px;
}
.infoReceita{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoReceita img{
    width: 600px;
    height: 200px;
    border-radius: 30px;
    margin: 30px 30px 20px 30px;
}

.descReceita{
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
}

.descChef{
    color: var(--color-chef);
}

.fechar{
    cursor: pointer;
    color: #999999;
    margin: 60px 0px 30px 0px ;
}

.informacoesReceitas.ativo{
    opacity: 1;
    visibility:visible ;

}

footer{
    margin-top: 50px;
    width: 100%;
    height: 62px;
    background-color: #EEEEEE;
}

.footerPag{
    height: 62px;
    text-align: center;
    color: #999999;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}